<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feedbackstyle.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Feedback Reviews</title>
</head>
<body>

    <div class="wrapper">
        <h3>Feedback Form</h3>
        <form id="feedbackForm" action="/submit_feedback" method="post">

            <div class="rating" id="rating">
                <input type="number" name="rating" id="ratingValue" hidden required>
                <i class='bx bx-star star' style="--i: 0;" data-value="1"></i>
                <i class='bx bx-star star' style="--i: 1;" data-value="2"></i>
                <i class='bx bx-star star' style="--i: 2;" data-value="3"></i>
                <i class='bx bx-star star' style="--i: 3;" data-value="4"></i>
                <i class='bx bx-star star' style="--i: 4;" data-value="5"></i>
                <span id="ratingRequiredMessage" class="required-message">Rating is required</span>
            </div>

			<input type="text" name="name" placeholder="Your Name" required>

			<input type="email" name="email" placeholder="Your Email" required>

            <textarea name="opinion" cols="30" rows="5" placeholder="Enter your feedback or suggestion..." required></textarea>
            <div class="btn-group">
                <button type="submit" class="btn submit">Submit</button>
                <button class="btn cancel">Cancel</button>
            </div>
        </form>
    </div>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/feedbackscript.js') }}"></script>

</body>
</html>
