<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fillformstyle.css') }}">

    <title>Fill Application Form</title>
</head>
<body>
<div class="container">
    <header>Application For Upgrading</header>

    <form action="/download_upgrading" method="POST">
        <div class="form first">
            <div class="details personal">
                <span class="title">Fill in the Form</span>

                <div class="fields">
                    <div class="input-field">
                        <label>Full Name</label>
                        <input type="text" placeholder="Enter your name" name="name" required>
                    </div>

                    <!--                        <div class="input-field">-->
                    <!--                            <label>Date of Last Promotion</label>-->
                    <!--                            <input type="date" placeholder="Enter birth date" required>-->
                    <!--                        </div>-->

                    <div class="input-field">
                        <label>Staff ID</label>
                        <input type="number" placeholder="Enter your staff ID" name="staffid" required>
                    </div>

                    <div class="input-field">
                        <label>Mobile Number</label>
                        <input type="number" placeholder="Enter mobile number" name="phone" required>
                    </div>

                    <div class="input-field">
                        <label>Date on Letter</label>
                        <input type="date" placeholder="DDTH MONTH, YYYY" name="date_on_letter" required>
                    </div>

                    <div class="input-field">
                        <label>Registered No.</label>
                        <input type="text" placeholder="Enter your registered no." name="registeredno" required>
                    </div>

                    <div class="input-field">
                        <label>Place of Work</label>
                        <input type="text" placeholder="Enter name of your workplace" name="school" required>
                    </div>
                </div>
            </div>

            <div class="details ID">

                <div class="fields">

                    <div class="input-field">
                        <label>District/Municipal/Metropolitan</label>
                        <input type="text" placeholder="Eg. Ho Municipal" name="district" required>
                    </div>

                    <div class="input-field">
                        <label>District Town</label>
                        <input type="text" placeholder="Eg. Ho" name="district_town" required>
                    </div>

                    <div class="input-field">
                        <label>Postal Address</label>
                        <input type="text" placeholder="Eg. P.O. Box 145" name="address" required>
                    </div>

                    <div class="input-field">
                        <label>Town for Address</label>
                        <input type="text" placeholder="Eg. Ho" name="address_town" required>
                    </div>

                    <div class="input-field">
                        <label for="current_rank">Current Rank</label>
                        <select name="current_rank" id="current_rank" required>
                            <option value="" disabled selected>Select Current Rank</option>
                            <option value="Director General">Director General</option>
                            <option value="Deputy Director General">Deputy Director General</option>
                            <option value="Assistant Director I">Assistant Director I</option>
                            <option value="Assistant Director II">Assistant Director II</option>
                            <option value="Principal Superintendent">Principal Superintendent</option>
                            <option value="Senior Superintendent I">Senior Superintendent I</option>
                            <option value="Senior Superintendent II">Senior Superintendent II</option>
                            <option value="Superintendent I">Superintendent I</option>
                            <option value="Superintendent II">Superintendent II</option>
                            <option value="Pupil Teacher">Pupil Teacher</option>
                        </select>

                    </div>

                    <div class="input-field">
                        <label for="next_rank">Next Rank</label>
                        <select name="next_rank" id="next_rank" required>
                            <option value="" selected>Select Next Rank</option>
                            <option value="Director General">Director General</option>
                            <option value="Deputy Director General">Deputy Director General</option>
                            <option value="Assistant Director I">Assistant Director I</option>
                            <option value="Assistant Director II">Assistant Director II</option>
                            <option value="Principal Superintendent">Principal Superintendent</option>
                            <option value="Senior Superintendent I">Senior Superintendent I</option>
                            <option value="Senior Superintendent II">Senior Superintendent II</option>
                            <option value="Superintendent I">Superintendent I</option>
                            <option value="Superintendent II">Superintendent II</option>
                            <option value="Pupil Teacher">Pupil Teacher</option>
                        </select>

                    </div>

                    <div class="input-field">
                        <label>No. of Years in Service</label>
                        <input type="number" placeholder="No. of years in the service" name="years_in_service" required>
                    </div>

                    <div class="input-field">
                        <label>Program</label>
                        <input type="text" placeholder="Eg. Bachelor of Art in English" name="program" required>
                    </div>

                    <div class="input-field">
                        <label>Year Completed</label>
                        <input type="number" placeholder="Eg. 2024" name="years_completed" required>
                    </div>


                </div>
                <button class="sumbit">
                    <span class="btnText">Generate</span>
                    <i class="uil uil-download-alt"></i>
                </button>
            </div>

        </div>
    </form>
</div>
</body>
</html>