<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fillformstyle.css') }}">

    <title>Fill Application Form</title>
</head>
<body>
    <div class="container">
        <header>Application For Maternity Leave</header>

        <form action="/download_maternity_leave" method="POST">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Fill in the Form</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Full Name</label>
                            <input type="text" placeholder="Enter your name"  name="name" required>
                        </div>

                        <div class="input-field">
                            <label>Staff ID</label>
                            <input type="number" placeholder="Enter your staff ID" name="staffid" required>
                        </div>

                        <div class="input-field">
                            <label>Mobile Number</label>
                            <input type="number" placeholder="Enter mobile number" name="phone" required>
                        </div>

                        <div class="input-field">
                            <label>Date on Letter</label>
                            <input type="date" placeholder="DDTH MONTH, YYYY" name="date_on_letter" required>
                        </div>

                        <div class="input-field">
                            <label>Registered No.</label>
                            <input type="text" placeholder="Enter your registered no." name="registeredno" required>
                        </div>

                        <div class="input-field">
                            <label>Place of Work</label>
                            <input type="text" placeholder="Enter name of your workplace" name="school" required>
                        </div>
                    </div>
                </div>

                <div class="details ID">

                    <div class="fields">

                        <div class="input-field">
                            <label>District/Municipal/Metropolitan</label>
                            <input type="text" placeholder="Eg. Ho Municipal" name="district" required>
                        </div>

                        <div class="input-field">
                            <label>District Town</label>
                            <input type="text" placeholder="Eg. Ho" name="district_town" required>
                        </div>

                        <div class="input-field">
                            <label>Postal Address</label>
                            <input type="text" placeholder="Eg. P.O. Box 145" name="address" required>
                        </div>

                        <div class="input-field">
                            <label>Town for Address</label>
                            <input type="text" placeholder="Eg. Ho" name="address_town" required>
                        </div>

<!--                        <div class="input-field">-->
<!--                            <label>No. in the Service</label>-->
<!--                            <input type="number" placeholder="Enter no. of years in the service" required>-->
<!--                        </div>-->

<!--                        <div class="input-field">-->
<!--                            <label>Date on Letter</label>-->
<!--                            <input type="date" placeholder="Enter the date you want on the letter" required>-->
<!--                        </div>-->

<!--                        <div class="input-field">-->
<!--                            <label>Appointment Date</label>-->
<!--                            <input type="date" placeholder="Enter appointment date" required>-->
<!--                        </div>-->
<!--                    </div>-->


                </div>
                    <button class="sumbit">
                            <span class="btnText">Generate</span>
                            <i class="uil uil-download-alt"></i>
                        </button>
            </div>

<!--            <div class="form second">-->
<!--                <div class="details address">-->
<!--                    <span class="title">Address Details</span>-->

<!--                    <div class="fields">-->
<!--                        <div class="input-field">-->
<!--                            <label>Address Type</label>-->
<!--                            <input type="text" placeholder="Permanent or Temporary" required>-->
<!--                        </div>-->

<!--                        <div class="input-field">-->
<!--                            <label>Nationality</label>-->
<!--                            <input type="text" placeholder="Enter nationality" required>-->
<!--                        </div>-->

<!--                        <div class="input-field">-->
<!--                            <label>State</label>-->
<!--                            <input type="text" placeholder="Enter your state" required>-->
<!--                        </div>-->

<!--                        <div class="input-field">-->
<!--                            <label>District</label>-->
<!--                            <input type="text" placeholder="Enter your district" required>-->
<!--                        </div>-->

<!--                        <div class="input-field">-->
<!--                            <label>Block Number</label>-->
<!--                            <input type="number" placeholder="Enter block number" required>-->
<!--                        </div>-->

<!--                        <div class="input-field">-->
<!--                            <label>Ward Number</label>-->
<!--                            <input type="number" placeholder="Enter ward number" required>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="details family">-->
<!--                    <span class="title">Family Details</span>-->

<!--                    <div class="fields">-->
<!--                        <div class="input-field">-->
<!--                            <label>Father Name</label>-->
<!--                            <input type="text" placeholder="Enter father name" required>-->
<!--                        </div>-->

<!--                        <div class="input-field">-->
<!--                            <label>Mother Name</label>-->
<!--                            <input type="text" placeholder="Enter mother name" required>-->
<!--                        </div>-->

<!--                        <div class="input-field">-->
<!--                            <label>Grandfather</label>-->
<!--                            <input type="text" placeholder="Enter grandfther name" required>-->
<!--                        </div>-->

<!--                        <div class="input-field">-->
<!--                            <label>Spouse Name</label>-->
<!--                            <input type="text" placeholder="Enter spouse name" required>-->
<!--                        </div>-->

<!--                        <div class="input-field">-->
<!--                            <label>Father in Law</label>-->
<!--                            <input type="text" placeholder="Father in law name" required>-->
<!--                        </div>-->

<!--                        <div class="input-field">-->
<!--                            <label>Mother in Law</label>-->
<!--                            <input type="text" placeholder="Mother in law name" required>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="buttons">-->
<!--                        <div class="backBtn">-->
<!--                            <i class="uil uil-navigator"></i>-->
<!--                            <span class="btnText">Back</span>-->
<!--                        </div>-->

<!--                        <button class="sumbit">-->
<!--                            <span class="btnText">Submit</span>-->
<!--                            <i class="uil uil-navigator"></i>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
    </div>
        </form>

<!--    <script src="script.js"></script>-->
    </div>
</body>
</html>